@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');


$white: #ffffff;
$border-active: hsla(278, 93%, 30%, 0.678);
$error: #ff5252;
$gray-light: #dedddf;
$gray-dark: rgb(142, 133, 147);
$violet: #21092f;